*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

section a {
    text-decoration: none;
    outline: none;
    color: white;
}

a {
    position: relative;
    left: 2.5%;
    top: 17px;
    text-decoration: none;
    outline: none;
    border-radius: 20px;
    padding: 1px 25px 1px 25px;
    background-color: black;
    color: white;
    cursor: pointer;
}

a:hover {
    background-color: gray;
    color: black;
    border: solid 2px black; 
    font-weight: 400;
}

#header {
    background: #000000;
    color: white;
    font-size: 18px;
    flex-direction: column;
    align-items: center;
    text-align: center;  
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.452) 5px 5px 25px, rgba(0, 0, 0, 0.46) 5px 10px 25px;
    width: 100%;
    font-family: monospace;
    padding-bottom: 10px;
    margin-bottom: 18px;
}

#header h3 {
    padding: 15px;
    font-weight: 600;
}

#header img {
    margin-bottom: 10px;
}

 body {
    width: 100%;
    height: 100vh;
}

.container {
    margin-top: 2.5rem;
    padding: 20px;
}


.card {
    width: 99rem;
    display: flex;
}
